:root{
    --primary-color:#eaebea;
    --secondary-color:#d8323c;
    --third-color:#0c0e0c;
    --first-font:poppins;
}
body.dark{
    --primary-color:#A11212;
    --secondary-color:#FEA904;
    --third-color:#F3E6D4;
    --first-font: 'Macondo', cursive;
}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
    position: absolute;
    top: 68px;
    left: 11px;
}


.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}


*{
    margin: 0px;
    padding: 0px;
    font-family: poppins;
    box-sizing: border-box;
}
body{
    margin: 0px;
    padding: 0PX;
    font-family: poppins;
    background-color: var(--third-color);
}
ul{
    text-decoration: none;list-style: none;

}
a{
    text-decoration: none;
}

.nav{
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    padding-top:5px;
    padding:10px;
    display: flex;
    position:fixed;
    z-index: 501;
    top:0;
    left:0;
    width:100%;
    height:55px;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    background-color: var( --secondary-color);
    /* border-radius: 12px; */
}
.nav .lo{
    font-size: 30px;
    color: var(--primary-color);
}
.nav .list{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    margin-top:10px;
    margin-right:15px;
}

.nav .list a li{
    padding-left: 25px;
    font-size: 20px;
    color: var(--primary-color);
    transition: .4s;
    padding-top: 0px;
}
.nav .list li a{
    padding-left: 25px;
    font-size: 20px;
    color: var(--primary-color);
    transition: .4s;
    padding-top: 0px;
}
.nav .list a li:hover{
    font-size: 23px;
    color: var(--third-color);
}
.nav .list li a:hover{
    font-size: 23px;
    color: var(--third-color);
}

.sidemenu{
    display:none;
}
.sidebar:hover >.sidemenu{
    display:block;
    background-color: var( --secondary-color);
    width:200px;
    position:fixed;
    top: 50px;
    z-index: 501;
    height:fit-content;
    right:0px;
    text-align:right;
}
.navigation{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 50px;
    max-width: 1400px;
    margin: auto;
    width: 100%;
}
.navigation .menu-icon{
    cursor: pointer;
    float: right;
    padding: 20px 10px;
    z-index: 103;
}
.navigation .menu-icon .nav-icon{
background-color:  var(--primary-color);
display: block;
height: 2px;
width: 25px;
position: relative;
transition: 0.2s ease-out;
}
.navigation .menu-icon .nav-icon::before,
.navigation .menu-icon .nav-icon::after{
    background-color:  var(--primary-color);
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    transition: all ease-out 0.2s;
}
.navigation .menu-icon .nav-icon::before{
    top:8px;
}
.navigation .menu-icon .nav-icon::after{
    bottom: 8px;
}
.navigation .menu-btn:checked ~.menu-icon .nav-icon{
    background-color: transparent;
}
.navigation .menu-btn:checked ~.menu-icon .nav-icon::before{
    transform: rotate(-45deg);
    top: 0px;
}
.navigation .menu-btn:checked ~.menu-icon .nav-icon::after{
    transform: rotate(45deg);
    top:0px;
}
.menu-btn{
    display: none;
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.menu{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: var(--third-color);
    z-index: 102;
    display: none;
    align-items: center;
    justify-content: center;
    animation: fade 0.3s;
}
.menu li a{
    color:  var(--primary-color);
    margin: 0px 40px;
    font-size: 2rem;
    font-family: monoton;
    transition: all ease 0.3s;

}
.menu li a:hover{
    font-size: 2.3rem;
    color: var( --secondary-color);
    transition: all ease 0.3s;

}
.navigation .menu-btn:checked ~.menu{
    display: flex;
}
.logomarvel{
    display: flex;
    align-items: center;
    margin: 0px auto 0px 40px;
    width: 100px;
    height: 150x;
}
.search-box{
    background-color: var(--primary-color);
    padding: 3px 20px;
    border-radius: 20px;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}
.search-box input{
    background-color: transparent;
    border: none;
    outline: none;
    color: var(--primary-color);
}
.search-box button{
    background-color: transparent;
    color: var(--primary-color);
    border: none;
    outline: none;
    cursor: pointer;
}
#main-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:20px auto;
    max-width: 1170px;
    width: 100%;
}
.main-slider-box{
    width:100%;
    height: 450px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
    border: 1px solid var(--third-color);
    background-color: #a7a7a7a7;
    position: relative;

}
.main-silder-img{
    width: 100%;
    height: 100%;
}
.main-silder-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.main-slider-text{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background:linear-gradient(360deg,#161616b9,35%,rgba(73,73,73,0.23) 64%);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
}
.main-slider-text .quality{
    background-color: var( --secondary-color);
    color: var(--third-color);
    font-weight: 600;
    padding: 0px 5px;
    height: 20px;
    display:flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.5px;
    padding: 25px;

}
.main-slider-text .movie-name{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.main-slider-text .movie-name strong{
    font-size: 1rem;
    font-weight: 500;
    line-height: 20px;
    margin-top: 10px;
    color:  var(--primary-color);
    letter-spacing: 0.5px;

}
#latest-movies{
    max-width: 1170px;
    margin: 30px auto;
    width: 100%;
}
.latest-heading{
    width: 100%;
    padding: 10px 20px;
    background-color: var(--third-color);
    border: 1px solid #161616b9;


}
.latest-heading h1{
    color:  var(--primary-color);
    font-size: 1.3rem;
    font-weight: 500;

}
.post-container{
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding-bottom: 70px ;
    margin: 20px 0px;
    flex-wrap: wrap;

}
.post-box{
    width: 300px;
    height: 550px;
    overflow: hidden;
    background-color: var(--third-color);
    border: #161616b9;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.15);
    position: relative;

}
.post-box .img-post{
    width: 100%;
    height: 100%;

}
.post-box .img-post img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.top-btn{
    float: right;
    width: 50px;
    height: 50px;
    z-index: 500;
}

#footer  {   
    font-size:large;
    width:100%;
    height:170px;
    background-color: var( --secondary-color);    
    color:var(--third-color);
    text-align: center;
    text-transform: uppercase;
    position:absolute;
    left:0;
}
#footer td a.fa {
padding: 12px;
font-size: 12px;
text-decoration: none;
margin: 10px px;
border-radius: 50%;
transition: 0.2s;
}
#footer td a.fa:hover {
/*     opacity: 0.7; */
background-color:var(--third-color);
}
#footer td a.fa-facebook {background: #3B5998;color: white;}

#footer td a.fa-twitter  {background: #55ACEE;color: white;}

#footer td a.fa-youtube  {background: #bb0000;color: white;}

td#RAWELE1.raw1 {
    padding-right:40px;
}
.main-footer{
    width:100%;
    border-collapse: collapse;
}

td.raw1{
border-bottom: 1px dotted var(--third-color);
width:50%;
}
td.callus ul{list-style-type: none;}
td.callus ul li a{cursor: pointer;;margin-left:-40px;color:var(--third-color);}

td.callus ul li a:hover{color: var(--primary-color);}
