:root{
    --primary-color:#eaebea;
    --secondary-color:#d8323c;
    --third-color:#0c0e0c;
    --first-font:Verdana, Geneva, Tahoma, sans-serif;
}
body.dark{
    --primary-color:blue;
    --secondary-color:#eaebea;
    --third-color:#d8323c;
    --first-font: 'Macondo', cursive;
}
.checkbox {
	opacity: 0;
	position: absolute;
}

.label {
	background-color: #111;
	border-radius: 50px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 26px;
	width: 50px;
	transform: scale(1.5);
    position: absolute;
    top: 70px;
    left: 14px;
}


.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: absolute;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}


.fa-moon {
	color: #f1c40f;
}

.fa-sun {
	color: #f39c12;
}
body {
    font-family:var(--first-font);
    background-color: var(--third-color);
    color:var(--primary-color);
    font-size:20px;
}
body.switch{
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--primary-color);
    color: var(--third-color);
}
.nav{
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    padding-top:5px;
    padding:10px;
    display: flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:40px;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    background-color: var( --secondary-color);
    /* border-radius: 12px; */
}
.nav .lo{
    font-size: 30px;
    color: var(--primary-color);
}
.nav .list{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    margin-top:10px;
    margin-right:15px;
}

.nav .list a li{
    padding-left: 25px;
    font-size: 20px;
    color: var(--primary-color);
    transition: .4s;padding-top: 0px;
}
.nav .list li a{
    padding-left: 25px;
    font-size: 20px;
    color: var(--primary-color);
    transition: .4s;padding-top: 0px;
}
.nav .list a li:hover{
    font-size: 23px;
    color: var(--third-color);
}
.nav .list li a:hover{
    font-size: 23px;
    color: var(--third-color);
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}
.sidemenu{
    display:none;
}
.sidebar:hover >.sidemenu{
    display:block;
    background-color: var( --secondary-color);
    width:200px;
    position:absolute;
    top: 50px;
    height:fit-content;
    right:20px;
    text-align:right;
}
.clear{
    clear:both;
}
#content{
    text-align: center;background-color: var(--third-color)
}
#content.darkmode{
    background-color:var( --secondary-color) ;
}
#gallery1 ,#gallery2,#gallery3,#gallery4,#gallery5,#gallery6{
    float: right;
}
#gallery1 a img,#gallery2 a img,#gallery3 a img,#gallery4 a img, #gallery5 a img,#gallery6 a img{
    float:left;
}
#gallery1:hover,#gallery2:hover,#gallery3:hover,#gallery4:hover,#gallery5:hover,#gallery6:hover{
    border:2px solid var( --secondary-color);
}
#gallery1.dark-mode:hover,#gallery2.dark-mode:hover,#gallery3.dark-mode:hover,
#gallery4.dark-mode:hover,#gallery5.dark-mode:hover,#gallery6.dark-mode:hover{
    border:2px solid var(--third-color);
}
#footer  {    
        width:100%;
        height:170px;
        background-color: var( --secondary-color);    
        color:var(--third-color);
        text-align: center;
        text-transform: uppercase;
        position:absolute;
        left:0;
}
#footer td a.fa {
    padding: 12px;
    font-size: 12px;
    text-decoration: none;
    margin: 10px px;
    border-radius: 50%;
    transition: 0.2s;
}
#footer td a.fa:hover {
/*     opacity: 0.7; */
    background-color:var(--third-color);
}
#footer td a.fa-facebook {background: #3B5998;color: var(--primary-color);}

#footer td a.fa-twitter  {background: #55ACEE;color: var(--primary-color);}

#footer td a.fa-youtube  {background: var( --secondary-color);color: var(--primary-color);}

.main-footer{    width:100%;    border-collapse: collapse;
}

td.raw1{
    border-bottom: 1px dotted var(--third-color);
    width:50%;
}
td.callus ul{list-style-type: none;}
td.callus ul li a{cursor: pointer;;margin-left:-40px;color:var(--third-color);}

td.callus ul li a:hover{color:var(--primary-color);}
