*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
.nav{
    /* margin-left: 100px; */
    /* margin-right: 100px; */
    padding-top:5px;
    z-index: 10;
    padding:10px;
    display: flex;
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:55px;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    background-color: #d8323c;
    /* border-radius: 12px; */
}
.nav .lo{
    font-size: 30px;
    color: #fff;
}
.nav .list{
    display: flex;
    flex-direction: row;
    padding-top: 0px;
    margin-top:10px;
    margin-right:15px;
}

.nav .list a li{
    padding-left: 25px;
    font-size: 20px;
    color: #fff;
    transition: .4s;padding-top: 0px;
}

.nav .list a li:hover{
    font-size: 23px;
    color: #0c0e0c;
}ul{
    list-style: none;
}

a{
    text-decoration: none;
}

.contact{
    width: 1100px;
    height: 550px;
    margin: 50px auto;
    display: flex;
    flex-direction: row;
    background-color: rgb(225, 225, 225);
    border-radius: 14px;
    box-shadow: 0 0 10px rgb(28, 28, 28);
}

.info{
    width: 65%;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.col{
    width: 35%;
    background-color: #d8323c;
    border-radius: 14px;
}
.me{
    display: flex;
    flex-direction: row;
}
.me .name{
    width: 300px;
    margin-right: 20px;
    height: 30px;
    border-radius: 13px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 17px;
}

.me .phone{
    width: 300px;
    margin-right: 20px;
    height: 30px;
    border-radius: 13px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 17px;

}

.info .con{
    display: flex;
    flex-direction: row;
}
.info .con .email{
    width: 300px;
    margin-right: 20px;
    height: 30px;
    border-radius: 13px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 17px;

}

.info .con .password{
    width: 300px;
    margin-right: 20px;
    height: 30px;
    border-radius: 13px;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 17px;

}
.info .mass .massage{
    width: 630px;
    /* margin-right: 20px; */
    height: 250px;
    border-radius: 13px;
    border: none;
    outline: none;
    padding: 10px;
    font-size: 20px;
}

.info .title{
    text-align: center;
    color: #d8323c;
    font-size: 25px;
}
.contact .col {
    padding: 10px;
    position: relative;
}

.contact .col h1{
    color: #fff;
    text-align: center;
}

.contact .col .icons{
    position: absolute;
    bottom: 10px;
    left: 110px;
}

.contact .col .icons a{
    color: #fff;
    font-size: 30px;
    margin-right: 20px;
}

.contact .col .icons a:hover{
    color: #0c0e0c;
    font-size: 30px;
    margin-right: 20px;
}

.subm > button{
    width:100px;
    height: 20px;
    border-radius: 7px;
    background-color: #d8323c;
    color:#eaebea;
    border:none;
    cursor: pointer;
}
.subm > button:hover{
    width:100px;
    height: 20px;
    border-radius: 8px;
    background-color: #0c0e0c;
    color:#eaebea;
    transition: 0.5s;
}
#footer  {
    width:100%;
    height:fit-content;
    background-color: #d8323c;
    color:#0c0e0c;
    text-align: center;
    text-transform: uppercase;
}
#footer td a.fa {
    padding: 12px;
    font-size: 12px;
    width: 12px;
    text-align: center;
    text-decoration: none;
    margin: 10px 2px;
    border-radius: 50%;
    transition: 0.1s;
}
#footer td a.fa:hover {opacity: 0.7;}
#footer td a.fa-facebook {background: #3B5998;color: white;}
#footer td a.fa-twitter  {background: #55ACEE;color: white;}
#footer td a.fa-youtube  {background: #bb0000;color: white;}
.main-footer{
    width:100%;
    border-collapse: collapse;
}
td.raw1{
    border-bottom: 1px dotted #0c0e0c;
    width:50%;
}
td.callus ul{list-style-type: none;}
td.callus ul li a{cursor: pointer;margin-left:-40px;color:#0c0e0c;}
td.callus ul li a:hover{color:#eaebea;}

